@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-CondLight.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-CondBold.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
  font-style: normal; }

/* line 43, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSansBold';
  padding: 0 1%; }

/* line 48, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
p, a, span, div {
  font-family: 'OpenSansLight'; }

/* line 52, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
p {
  padding: 0 1%; }

/* line 56, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
h6 {
  color: white;
  text-decoration: underline;
  font-size: 1.25rem; }

/*.navlinks .navlink.active a{
	background: $dearGreen !important;
	&:hover{
		background: $dearGreen !important;
	}
}*/
/* line 69, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
.navlinks .navlink a {
  font-family: 'OpenSansLight';
  background: transparent !important;
  transition: all 1s ease-in-out;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }
  /* line 79, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .navlinks .navlink a:hover {
    background: #61D9BA !important; }

/* line 84, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
body {
  color: #191601;
  background-color: white; }
  /* line 89, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  body h1 {
    color: #191601;
    text-transform: uppercase; }
  /* line 95, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  body h3 {
    color: #ffffff; }
  /* line 100, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  body h5 {
    color: #ffffff;
    text-transform: uppercase; }
  /* line 105, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  body .bodyWrapper {
    position: relative; }
  /* line 109, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  body .navChoke {
    max-width: none;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; }
  /* line 118, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  body .top-bar {
    background-color: rgba(97, 217, 186, 0.65); }
    /* line 122, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    body .top-bar ul li {
      background: transparent !important; }
  /* line 128, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  body main {
    max-width: none;
    margin: auto;
    padding-top: 2.8rem; }
    /* line 133, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    body main .mainWrapper {
      /*min-height: 70vh;*/ }
    /* line 137, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    body main section {
      margin-bottom: 4rem;
      position: relative; }
      /* line 144, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      body main section .contentImage .actionBtns.white {
        display: none; }
      /* line 148, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      body main section .contentImage .actionBtns {
        position: relative;
        display: inline-block;
        float: right;
        top: inherit;
        line-height: 1.2; }
      @media only screen and (min-width: 1100px) {
        /* line 142, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
        body main section .contentImage {
          position: absolute;
          top: 2rem;
          left: 0; }
          /* line 161, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
          body main section .contentImage h1, body main section .contentImage p {
            display: inline-block;
            color: white; }
          /* line 167, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
          body main section .contentImage h1 {
            padding: 0rem;
            padding-left: 1rem;
            padding-top: 0.5rem; }
            /* line 174, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
            body main section .contentImage h1 .actionBtns {
              display: none;
              margin-left: 2rem;
              position: relative;
              top: inherit;
              right: inherit; }
              /* line 181, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
              body main section .contentImage h1 .actionBtns.white {
                display: inline-block; }
          /* line 187, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
          body main section .contentImage .content {
            display: inline-block;
            padding: 1rem; }
            /* line 191, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
            body main section .contentImage .content p {
              font-family: 'OpenSansBold';
              font-size: 1.1rem;
              width: 100%; } }
      @media only screen and (min-width: 1200px) {
        /* line 202, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
        body main section .contentImage .content {
          width: 65%;
          float: right; } }
    /* line 215, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    body main .heroText {
      padding: 25vh inherit; }
      @media only screen and (max-width: 40em) {
        /* line 215, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
        body main .heroText {
          padding: 5vh inherit; } }
      /* line 223, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      body main .heroText.innerPage {
        padding: 10vh inherit 5vh; }
        /* line 226, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
        body main .heroText.innerPage h3 {
          text-transform: uppercase;
          font-size: 1.2rem; }
    /* line 234, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    body main .icons {
      text-align: center; }
      /* line 7, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      body main .icons li {
        display: inline-block;
        padding: 0.5rem;
        margin-left: 1rem; }
        @media only screen and (max-width: 40em) {
          /* line 7, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
          body main .icons li {
            margin: auto;
            display: block;
            padding-left: 0; } }
      /* line 238, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      body main .icons .icon {
        height: auto;
        cursor: pointer; }
    /* line 245, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    body main .listText li {
      margin-bottom: 2rem; }
      /* line 248, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      body main .listText li a {
        color: #EBA207; }
        /* line 251, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
        body main .listText li a:visited {
          color: #EBA207; }
  /* line 261, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  body footer {
    /*position: absolute;
  		left: 50%;
  		transform: translateX(-50%);
		bottom: 0;*/
    margin: auto;
    background: #191601;
    width: 100%; }
    @media only screen and (max-width: 40em) {
      /* line 261, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      body footer {
        position: relative; } }
    /* line 274, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    body footer .footerInfo {
      padding: 0.5rem;
      padding-top: 2rem; }
      /* line 278, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      body footer .footerInfo a {
        color: #ffffff; }
        /* line 281, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
        body footer .footerInfo a:visited {
          color: #ffffff; }
    /* line 288, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    body footer a {
      color: #EBA207; }
      /* line 291, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      body footer a:visited {
        color: #EBA207; }

/* line 302, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
.fade .slick-prev:before, .fade .slick-next:before {
  font-size: 40px; }

/* line 306, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
.fade .slick-next {
  right: 30px !important; }

/* line 310, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
.fade .actionBtns {
  padding: 0.5rem;
  top: 9.4%;
  right: 1%; }

/* line 321, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
.mapWrapper {
  position: relative; }
  /* line 324, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapWrapper .quadrantOver {
    position: absolute;
    background: transparent;
    display: block;
    width: 33.33456%;
    height: 33.33333%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
    /* line 335, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    .mapWrapper .quadrantOver:hover {
      background: rgba(0, 0, 0, 0.2);
      cursor: pointer; }
  /* line 341, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapWrapper #quad1 {
    top: 0;
    left: 0; }
  /* line 346, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapWrapper #quad2 {
    top: 0;
    left: 33.33456%; }
  /* line 351, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapWrapper #quad3 {
    top: 0;
    left: 66.66666%; }
  /* line 356, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapWrapper #quad4 {
    top: 33.33456%;
    left: 0; }
  /* line 361, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapWrapper #quad5 {
    top: 33.33456%;
    left: 33.33456%; }
  /* line 366, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapWrapper #quad6 {
    top: 33.33456%;
    left: 66.66666%; }
  /* line 371, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapWrapper #quad7 {
    top: 66.66666%;
    left: 0; }
  /* line 376, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapWrapper #quad8 {
    top: 66.66666%;
    left: 33.33456%; }
  /* line 381, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapWrapper #quad9 {
    top: 66.66666%;
    left: 66.66666%; }

/* line 388, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
.mapNav {
  position: fixed;
  top: 10%;
  right: 10%;
  width: 90px;
  height: 90px;
  display: none;
  z-index: 1; }
  /* line 397, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav .quadrant, .mapNav .backtomap {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    display: block;
    width: 31.33456%;
    height: 31.33333%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    margin: 1%; }
    /* line 409, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    .mapNav .quadrant:hover, .mapNav .backtomap:hover {
      background: rgba(0, 0, 0, 0.8);
      cursor: pointer; }
    /* line 414, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    .mapNav .quadrant.active, .mapNav .active.backtomap {
      background: rgba(0, 0, 0, 0.8); }
  /* line 420, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav #quadNav1 {
    top: 0;
    left: 0; }
  /* line 425, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav #quadNav2 {
    top: 0;
    left: 33.33456%; }
  /* line 430, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav #quadNav3 {
    top: 0;
    left: 66.66666%; }
  /* line 435, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav #quadNav4 {
    top: 33.33456%;
    left: 0; }
  /* line 440, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav #quadNav5 {
    top: 33.33456%;
    left: 33.33456%; }
  /* line 445, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav #quadNav6 {
    top: 33.33456%;
    left: 66.66666%; }
  /* line 450, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav #quadNav7 {
    top: 66.66666%;
    left: 0; }
  /* line 455, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav #quadNav8 {
    top: 66.66666%;
    left: 33.33456%; }
  /* line 460, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav #quadNav9 {
    top: 66.66666%;
    left: 66.66666%; }
  /* line 465, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .mapNav .backtomap {
    top: 102%;
    width: 99.988%;
    text-align: center;
    color: white; }

/* line 474, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
.quadWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  display: none;
  background: white;
  z-index: 1; }

/* line 486, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
.quadrantSector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: none;
  text-align: center;
  z-index: 1; }
  /* line 496, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .quadrantSector img {
    width: 100%;
    margin: auto; }
  /* line 501, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .quadrantSector .marker {
    position: absolute; }
    /* line 504, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    .quadrantSector .marker:before {
      content: '';
      width: 2.9vw;
      height: 2.9vw;
      display: block;
      cursor: pointer; }
    /* line 513, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    .quadrantSector .marker .markerInfo {
      display: none;
      background: #61D9BA;
      padding: 2%;
      position: fixed;
      top: 25%;
      width: 60%;
      left: 20%;
      text-align: left;
      z-index: 1; }
      /* line 524, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      .quadrantSector .marker .markerInfo h4 {
        color: white; }
      /* line 528, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
      .quadrantSector .marker .markerInfo p {
        color: white; }

/* line 539, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
.actionBtns {
  position: absolute;
  top: 1rem;
  right: 1rem; }
  /* line 544, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .actionBtns span {
    cursor: pointer; }
  /* line 548, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .actionBtns img {
    height: 2rem;
    width: auto; }
  /* line 553, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .actionBtns .close {
    border: 1px solid white;
    padding: 0.25rem;
    width: 2rem;
    display: inline-block;
    text-align: center;
    margin-left: 1rem;
    font-family: 'OpenSansBold';
    position: relative;
    bottom: -0.3ex;
    color: white; }

/* line 568, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
.slick-slider {
  width: 100%; }
  /* line 572, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .slick-slider .slick-prev {
    left: 10px;
    z-index: 1; }
  /* line 577, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  .slick-slider .slick-next {
    right: 10px; }

/* line 584, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
#print:after {
  display: table;
  content: '';
  clear: both; }

/* line 590, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
#print a {
  display: inline-block;
  float: left;
  margin: 0 1%;
  width: 20%; }

/* line 597, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
#print .documentPrint {
  border: 1px solid lightgray; }

/* line 602, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
#print p {
  float: left;
  color: #191601; }

/* line 608, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
#colofon {
  margin-bottom: 0; }
  /* line 611, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
  #colofon a {
    color: white !important;
    font-family: 'OpenSansBold'; }
    /* line 615, /Users/manuelcalapez/WEB/Projects/dearhunter360 project/dearhunter360/files/css/style.scss */
    #colofon a:hover {
      text-decoration: underline; }

/*# sourceMappingURL=style.css.map */