$lightColor: #ffffff;
$accentColor: #EBA207;
$darkColor: #191601;
$dearGreen: #61D9BA;

@mixin listys{
	li{
		display: inline-block;
		padding: 0.5rem;
		margin-left: 1rem;

		@media only screen and (max-width: 40em) {
			margin: auto;
			display: block;
			padding-left: 0;
		}

	}
}

@mixin backgroundCover{
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@font-face{
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-CondLight.ttf') format('truetype');
	font-weight: normal;
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-CondBold.ttf') format('truetype');
	font-weight: normal;
	font-weight: normal;
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'OpenSansBold';
	padding: 0 1%;
}

p,a,span,div{
	font-family: 'OpenSansLight';
}

p{
	padding: 0 1%;
}

h6{
	color: white;
	text-decoration: underline;
	font-size: 1.25rem;
}

/*.navlinks .navlink.active a{
	background: $dearGreen !important;
	&:hover{
		background: $dearGreen !important;
	}
}*/

.navlinks .navlink a{
	font-family: 'OpenSansLight';
	background: transparent !important;
	transition: all 1s ease-in-out;
	font-size: 1rem;
	
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
	
	&:hover{
		background: $dearGreen !important;
	}
}

body{
	
	color: $darkColor;
	background-color: white;
	
	h1{
		color: $darkColor;
		text-transform: uppercase;
	}

	
	h3{
		color: $lightColor;
	}
	

	h5{
		color: $lightColor;
		text-transform: uppercase;
	}

	.bodyWrapper{
		position: relative;
	}
	
	.navChoke{
		max-width: none;
		margin: auto;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}
		
	.top-bar{
		background-color: rgba(97, 217, 186, 0.65);
		
		ul{
			li{
				background: transparent !important;
			}
		}
	}
	
	main{
		max-width: none;
		margin: auto;
		padding-top: 2.8rem;
		
		.mainWrapper{
			/*min-height: 70vh;*/
		} 
		
		section{
			margin-bottom: 4rem;
			position: relative;
			
			
			.contentImage{
				
				.actionBtns.white{
					display: none;
				}
				
				.actionBtns{
					position: relative;
					display: inline-block;
					float: right;
					top: inherit;
					line-height: 1.2;
				}
				
				@media only screen and (min-width:1100px){
					position: absolute;
					top: 2rem;
					left: 0;
					
					h1, p{
					
						display: inline-block;
						color: white;
					}
					
					h1{
					
						padding: 0rem;
						padding-left: 1rem;
						padding-top: 0.5rem;
					
						
						.actionBtns{
							display: none;
							margin-left: 2rem;
							position: relative;
							top: inherit;
							right: inherit;
							
							&.white{
								display: inline-block;
							}
						}
					}
					
					.content{
						display: inline-block;
						padding: 1rem;
						
						p{
							font-family: 'OpenSansBold';
							font-size: 1.1rem;
							width: 100%;
						}
						
					}
					
					
				}

				.content{
					@media only screen and (min-width:1200px){
						width: 65%;
						float: right;
					}
					

				}

			}
		}
			
		
		.heroText{
			padding: 25vh inherit;
			
			
			@media only screen and (max-width: 40em) { 
				padding: 5vh inherit;
			}
			
			&.innerPage{
				padding: 10vh inherit 5vh;
				
				h3{
					text-transform: uppercase;
					font-size: 1.2rem;
				}
			}
			
		}

		.icons{
			@include listys;
			text-align: center;
			
			.icon{
				height: auto;
				cursor: pointer;
			}
		}
		
		.listText{
			li{
				margin-bottom: 2rem;
				
				a{
					color: $accentColor;
			
					&:visited {
						color: $accentColor;
					}
				}
				
			}
		}
	}
	
	
	footer{
		/*position: absolute;
  		left: 50%;
  		transform: translateX(-50%);
		bottom: 0;*/
		margin: auto;
		background: $darkColor;
		width: 100%;
		
		@media only screen and (max-width: 40em) { 
			position: relative;
		}
		
		.footerInfo{
			padding: 0.5rem;
			padding-top: 2rem;
			
			a{
				color: $lightColor;
				
				&:visited {
					color: $lightColor;
				}
			}
			
		}
		
		a{
				color: $accentColor;
			
				&:visited {
					color: $accentColor;
				}
			
		}
	}
	
}

.fade{
	
	.slick-prev:before, .slick-next:before {
		font-size: 40px;
	}
	
	.slick-next {
		right: 30px !important;
	}
	
	.actionBtns{
		padding: 0.5rem;
		top: 9.4%;
		//background: rgba(255, 255, 255, 0.5);
		right: 1%;
	}
	
	img{
	}
}
	
.mapWrapper{
	position: relative;

	.quadrantOver{
		position: absolute;
		background: rgba(0,0,0,0);
		display: block;
		width: 33.33456%;
		height: 33.33333%;
		transition: all 1s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;

		&:hover{
			background: rgba(0,0,0,0.2);
			cursor: pointer;
		}
	}

	#quad1{
		top: 0;
		left: 0;
	}

	#quad2{
		top: 0;
		left: 33.33456%;
	}

	#quad3{
		top: 0;
		left: 66.66666%;
	}

	#quad4{
		top: 33.33456%;
		left: 0;
	}

	#quad5{
		top: 33.33456%;
		left: 33.33456%;
	}

	#quad6{
		top: 33.33456%;
		left: 66.66666%;
	}

	#quad7{
		top: 66.66666%;
		left: 0;
	}

	#quad8{
		top: 66.66666%;
		left: 33.33456%;
	}

	#quad9{
		top: 66.66666%;
		left: 66.66666%;
	}

}

.mapNav{
	position: fixed;
	top: 10%;
	right: 10%;
	width: 90px;
	height: 90px;
	display: none;
	z-index: 1;

	.quadrant{
		position: absolute;
		background: rgba(0,0,0,0.4);
		display: block;
		width: 31.33456%;
		height: 31.33333%;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		margin: 1%;

		&:hover{
			background: rgba(0,0,0,0.8);
			cursor: pointer;
		}

		&.active{
			background: rgba(0,0,0,0.8);
		}
	}


	#quadNav1{
		top: 0;
		left: 0;
	}

	#quadNav2{
		top: 0;
		left: 33.33456%; 
	}

	#quadNav3{
		top: 0;
		left: 66.66666%;
	}

	#quadNav4{
		top: 33.33456%;
		left: 0;
	}

	#quadNav5{
		top: 33.33456%;
		left: 33.33456%;
	}

	#quadNav6{
		top: 33.33456%;
		left: 66.66666%;
	}

	#quadNav7{
		top: 66.66666%;
		left: 0;
	}

	#quadNav8{
		top: 66.66666%;
		left: 33.33456%;
	}

	#quadNav9{
		top: 66.66666%;
		left: 66.66666%;
	}

	.backtomap{
		@extend .quadrant;
		top: 102%;
		width: 99.988%;
		text-align: center;
		color: white;
	}
}

.quadWrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	display: none;
	background: white;
	z-index: 1;
}

.quadrantSector{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	display: none;
	text-align: center;
	z-index: 1;
	

	img{
		width: 100%;
		margin: auto;
	}
	
	.marker{
		position: absolute;

		&:before{
			content: '';
			width: 2.9vw;
			height: 2.9vw;
			//border:1px solid red;
			display: block;
			cursor: pointer;
		}

		.markerInfo{
			display: none;
			background: $dearGreen;
			padding: 2%;
			position: fixed;
			top: 25%;
			width: 60%;
			left: 20%;
			text-align: left;
			z-index: 1;
			
			h4{
				color: white;
			}
			
			p{
				color: white;
			}
			
			
		}

	}

}

.actionBtns{
	position: absolute;
	top: 1rem;
	right: 1rem;

	span{
		cursor: pointer;
	}

	img{
		height: 2rem;
		width: auto;
	}

	.close{
		border: 1px solid white;
		padding: 0.25rem;
		width: 2rem;
		display: inline-block;
		text-align: center;
		margin-left: 1rem;
		font-family: 'OpenSansBold';
		position: relative;
		bottom: -0.3ex;
		color: white;
	}
}	
	

.slick-slider{
	width: 100%;
	
	
	.slick-prev{
		left: 10px;
		z-index: 1;
	}
	
	.slick-next{
		right: 10px;
	}
}


#print{
	&:after{
		display: table;
		content: '';
		clear: both;
	}
	
	a{
		display: inline-block;
		float: left;
		margin: 0 1%;
		width: 20%;
	}
	
	.documentPrint {
		border: 1px solid lightgray;
		
	}
	
	p{
		float: left;
		color: $darkColor;
	}
}

#colofon{
	margin-bottom: 0;
	
	a{
		color: white !important;
		font-family: 'OpenSansBold';
		
		&:hover{
			text-decoration: underline;
		}
	}
}